:root {
  --color: rgb(204, 51, 76);
  --linear-gradient: linear-gradient(to right, #dd5f85, #bb52be);
}

body {
  margin: 0;

  * {
    text-transform: capitalize;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition:
    border-radius .3s ease-out,
    color .2s ease;

  &.btn {
    background-image: var(--linear-gradient);
    padding: .7rem 2rem;
    color: white;
    border-radius: 25px 0 25px 25px;

    &:hover {
      border-radius: 25px;
    }
  }

  /* TODO: ejem: is, where y mas */
  /* regresa cuando domines combinadores en css */
  &:hover:not(.btn),
  &:focus:not(.btn) {
    color: #bb52be;
  }
}

header {
  padding-inline: 2em;

  nav {

    &,
    &>ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    ul:first-child li:first-child {
      width: 5rem;
      height: auto;
      margin-inline-end: 5rem;

      img {
        border-radius: 1.5rem;
      }
    }

    ul {
      gap: 2rem;
      padding: 0;
      list-style-type: none;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 4em 2em 0;
  justify-content: center;
  background-image: url("hb-back.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  h1,
  p,
  a,
  figure {
    opacity: 0;
    animation: move-up .6s linear forwards;
    transform: translateY(160px);
  }

  figure {
    width: 40vw;
    height: auto;
    animation-delay: 1.1s;
  }
  
  article {
    min-width: 40vw;
    max-width: 41vw;
  
    h1 {
      font-size: 4em;
      margin-block-end: 1rem
    }
  
    p {
      margin-block-end: 1.7em;
      line-height: 1.6rem;
      text-transform: lowercase;
      animation-delay: .4s;
    }
  
    a {
      animation-delay: .7s;
    }
  }
}

@keyframes move-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}